@import "tailwindcss";
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* In your index.css */
.animate-slide-text {
  display: inline-block;
  padding-left: 0%;
  animation: slide 8s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  } /* Wait at the start */
  90% {
    transform: translateX(-100%);
  } /* Slide to the end */
  100% {
    transform: translateX(0);
  } /* Reset */
}

/* Optional: Pause on hover so users can read it */
